
*.bin
.vs/Stomatologia/config/applicationhost.config
*.v2
*.vsidx
*.vsidx
*.json
.vs/Stomatologia/v17/.suo
*.dll
.vs/Stomatologia/v17/.suo
*.exe
*.pdb
*.css
obj/Debug/net6.0/staticwebassets/msbuild.build.Stomatologia.props
obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Stomatologia.props
*.props
*.cache
*.cache
*.cache
obj/Debug/net6.0/Stomatologia.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
obj/Debug/net6.0/Stomatologia.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/Stomatologia.csproj.CopyComplete
*.txt
*.editorconfig
*.cache
*.cache
*.json
*.props
*.targets
